@page
@model EsyaStore.Pages.Product.IndexModel
@{
}

<div class="container-fluid">
    <div class="banner">
        <h1>Welcome to EsyaStore</h1>
        <p>Your one-stop shop for all products</p>
    </div>

    <div class="row">
        <div class="col-2 sidebar">
            <nav class="nav flex-column">
                <a class="nav-link" asp-page="/Product/Index">Home</a>
                <a class="nav-link" asp-page="/Product/Cart">My Cart</a>
                <a class="nav-link" asp-page="/Product/Order">My Orders</a>
            </nav>
        </div>

        <div class="col-10">
            <div class="container">
                <div class="row">
                    @{
                        foreach (var prods in Model.ProductList)
                        {
                            <div class="col-md-4 mb-4">
                                <div class="card product-card">
                                    <span class="price-tag">&#8377; @prods.ProductPrice</span>

                                    

                                    <img src="~/uploads/@prods.ProdImgUrl" class="card-img-top" alt="@prods.ProductName" />

                                    <div class="card-body">
                                        <h5 class="card-title">@prods.ProductName</h5>
                                        <p class="card-text">&#8377; @prods.ProductPrice</p>
                                        <a class="btn btn-primary text-decoration-none text-light" asp-route-id="@prods.Id" asp-page="/Product/ProductDetails">View</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
