@page
@model EsyaStore.Pages.Product.ProductDetailsModel
@{
}


<div class="container"> 
    <div class="card" style="min-height:75vh;">
        <h2 class="card-title">@Model.Products.ProductName</h2>
        <img src="~/uploads/@Model.Products.ProdImgUrl" alt="Alternate Text" class="card-img" style="min-height:25vh;" />
        <div class="card-body" style="min-height:40vh;">
            <p class="card-text">Rs.@Model.Products.ProductPrice</p>
            <p class="card-text">@Model.Products.ProductCategory</p>
            <p class="card-text">Only @Model.Products.ProductQuantity Left!!</p>
            <p class="card-text">Description  @Model.Products.ProductDescription</p>
            <p class="card-text">Manufacturer :@Model.Products.Manufacturer</p>
        </div>
    </div>
    <div class="container">
        <form  method="post" asp-page-handler="AddCart">
            <input type="hidden" value="@Model.Products.Id" asp-for="@Model.ProductDetailId" />
        <button class="btn btn-secondary">Add To Cart</button>
        </form>
    </div>
</div>
