@page
@model EsyaStore.Pages.Product.ProductDetailsModel
@{
}

<div class="container my-5">
    <div class="card shadow-lg p-4 border-0 rounded" style="min-height: 75vh;">
        <div class="row g-5">
            <div class="col-md-6 text-center">
                <img src="~/uploads/@Model.Products.ProdImgUrl" alt="Product Image" class="img-fluid rounded" style="max-height: 50vh; width: auto;">
            </div>

            <div class="col-md-6">
                <h2 class="fw-bold">@Model.Products.ProductName</h2>
                <p class="h4 text-primary mt-3">&#8377; @Model.Products.ProductPrice</p>

                <p class="text-muted mt-3"><strong>Category:</strong> @Model.Products.ProductCategory</p>
                <p class="text-danger"><strong>Only @Model.Products.ProductQuantity Left!</strong></p>

                <hr />

                <p class="card-text"><strong>Description:</strong> @Model.Products.ProductDescription</p>
                <p class="card-text"><strong>Manufacturer:</strong> @Model.Products.Manufacturer</p>

                <form method="post" asp-page-handler="AddCart" class="mt-4">
                    <input type="hidden" value="@Model.Products.Id" asp-for="@Model.ProductDetailId" />
                    <button class="btn btn-success btn-lg px-4">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
</div>
