@page
@model EsyaStore.Pages.ProductUI.ProductDetailsModel
@{
}

<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="product-slider-single normal-slider">
                                <img src="@Model.ProductDetails.ProdImgUrl" alt="Product Image">
                                <img src="@Model.ProductDetails.ProdImgUrl" alt="Product Image">
                                
                            </div>
                            
                        </div>
                        <div class="col-md-7">
                            <div class="product-content">
                                <div class="title"><h2>@Model.ProductDetails.ProductName</h2></div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">
                                    <h4>Price:</h4>
                                    <p>₹@Model.ProductDetails.ProductPrice</p>
                                </div>
                                <div class="quantity">
                                    <h4>Quantity:</h4>
                                    <div class="qty">
                                        <button class="btn-minus"><i class="fa fa-minus">-</i></button>
                                        <input type="text" value="1">
                                        <button class="btn-plus"><i class="fa fa-plus">+</i></button>
                                    </div>
                                </div>
                                <div class="p-size">
                                    <h4>Size:</h4>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn">S</button>
                                        <button type="button" class="btn">M</button>
                                        <button type="button" class="btn">L</button>
                                        <button type="button" class="btn">XL</button>
                                    </div>
                                </div>
                                <div class="p-color">
                                    <h4>Color:</h4>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" class="btn">White</button>
                                        <button type="button" class="btn">Black</button>
                                        <button type="button" class="btn">Blue</button>
                                    </div>
                                </div>
                                <div class="action">
                                    <a class="btn" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                    <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row product-detail-bottom">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                            </li>
                           
                        </ul>

                        <div class="tab-content">
                            <div id="description" class="container tab-pane active">
                                <h4>Product description</h4>
                                <p>
                                    @Model.ProductDetails.ProductDescription
                                </p>
                            </div>
                           
                            
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="section-header">
                        <h1>Related Products</h1>
                    </div>

                    <div class="row align-items-center product-slider product-slider-3">
                        
                       
                        

                        @{
                            foreach(var item in Model.listOfProducts)
                            {
                                <div class="col-lg-3">
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a href="#">@item.ProductName</a>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="product-image">
                                            <a href="product-detail.html">
                                                <img height="320px" width="320px" src="@item.ProdImgUrl" alt="Product Image" style="object-fit: contain;">
                                            </a>
                                           
                                        </div>
                                        <div class="product-price">
                                            <h3><span>₹</span>@item.ProductPrice</h3>
                                            <a class="btn rise" asp-page="../ProductUI/ProductDetails" asp-route-productId="@item.Id">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        
                        







                    </div>
                </div>
            </div>
