@page
@model EsyaStore.Pages.ProductUI.ProductListModel
@{
}

<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">


                    @{

                        foreach(var item in Model.listOfProducts)
                        {
                            <div class="col-md-4">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">@item.ProductName</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img height="320px" width="320px" src="@item.ProdImgUrl" alt="Product Image" style="object-fit: contain;">

                                        </a>
                                       
                                    </div>
                                    <div class="product-price">
                                        <h3><span>₹</span>@item.ProductPrice</h3>
                                        <a class="btn rise" asp-page="../ProductUI/ProductDetails" asp-route-productId="@item.Id">View More</a>

                                        
                                    </div>
                                </div>
                            </div>
                        }
                    }   
                    
                    
                   
                    
                    
                    
                   
                    






                   
                </div>

                <!-- Pagination Start -->
              
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">

                                @foreach (var item in Model.UniqueCategories)
                                {
                            <form method="post" asp-page-handler="ProductCategory">
                                <li class="nav-item">
                                    <input hidden value="@item" asp-for="tempCategory" />
                                    <button class="nav-link btn btn-link" style="width: 15vw" type="submit">
                                        <i class="fa fa-female"></i>@item
                                    </button>
                                </li>
                            </form>
                                }





                        </ul>
                    </nav>
                </div>

                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">
                        
                        @{
                            foreach(var item in Model.listOfProducts)
                            {
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">@item.ProductName</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="product-detail.html">
                                            <img height="320px" width="320px" src="@item.ProdImgUrl" alt="Product Image" style="object-fit: contain;">
                                        </a>
                                       
                                    </div>
                                    <div class="product-price">
                                        <h3><span>₹</span>@item.ProductPrice</h3>
                                        <a asp-page="../ProductUI/ProductDetails" asp-route-productId ="@item.Id" class="btn rise">View More</a>

                                    </div>
                                </div>
                            }

                        }
                        
                        



                    </div>
                </div>

               

               
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>